@model List<OrderModel>

@{
    ViewData["Title"] = "Orders list";
}

<h1 class="text-center">All orders</h1>

<div class="container">
    @if (!Model.Any())
    {
        <h3 class="text-danger">There are no orders to display.</h3>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Confirmation Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.IsConfirmed == true)
                    {
                        <tr style="background-color: #dce775">
                            <td>@(item.OrderUqName)</td>
                            <td>@(item.CreationDate.ToString("yyyy-MM-dd"))</td>
                            <td>
                                @if (item.IsConfirmed == true)
                                {
                                    <p>Confirmed</p>
                                }
                                else
                                {
                                    <p>Can Modify</p>
                                }
                            </td>
                            <td>
                                @if (item.IsConfirmed == true)
                                {
                                    <p>@(item.ConfirmationDate.Value.ToString("yyyy-MM-dd"))</p>
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr style="background-color: #81d4fa">
                            <td>@(item.OrderUqName)</td>
                            <td>@(item.CreationDate.ToString("yyyy-MM-dd"))</td>
                            <td>
                                @if (item.IsConfirmed == true)
                                {
                                    <p>Confirmed</p>
                                }
                                else
                                {
                                    <p>Can Modify</p>
                                }
                            </td>
                            <td>
                                @if (item.IsConfirmed == true)
                                {
                                    <p>@(item.ConfirmationDate.Value.ToString("yyyy-MM-dd"))</p>
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>